body{
  min-width: 100vw !important;
  min-height: 100vh !important;
  margin: 0px;
}

h1{
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 180px;
  margin: 0px;
  padding-top: 60px;
}

h2{
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 100px;
}

h3{
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 30px;
  padding-top: 10px;
}

h6{
  text-align: left;
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

form{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.fullScreen{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

.page{
  text-align: center;
  background-size: 400% 400%;

  -webkit-animation: Welcome 8s ease infinite;
  -moz-animation: Welcome 8s ease infinite;
  -o-animation: Welcome 8s ease infinite;
  animation: Welcome 8s ease infinite;
}

.darkGradient{
  background: linear-gradient(300deg, #0f2027, #2a4a59);
}
.darkText{
  color: #2a4a59;
}

.blueGradient{
  background: linear-gradient(300deg, #0575E6, #021B79);
}
.blueText{
  color: #0575E6;
}

.redGradient{
  background: linear-gradient(300deg, #cb2d3e, #ef473a);
}
.redText{
  color: #cb2d3e;
}

.purpleGradient{
  background: linear-gradient(300deg, #6a3093, #a044ff);
}
.purpleText{
  color: #6a3093;
}

.greenGradient{
  background: linear-gradient(300deg, #1D976C, #93F9B9);
}
.greenText{
  color: #1D976C;
}

.yellowGradient{
  background: linear-gradient(300deg, #ffb347, #ffcc33);
}
.yellowText{
  color: #ffb347;
}

.blackGradient{
  background: linear-gradient(300deg, #111111, #434343);
}
.blackText{
  color: #111111;
}

.pinkGradient{
  background: linear-gradient(300deg, #f953c6, #b91d73);
}
.pinkText{
  color: #f953c6;
}

.orangeGradient{
  background: linear-gradient(300deg, #FF512F, #F09819);
}
.orangeText{
  color: #FF512F;
}

.colorButton{
  margin: 5px;
  display: inline-block;
  border-radius: 35px;
  border: 2px solid #eeeeee;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.05);
  height: 70px;
  width: 70px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.colorButton:hover{
  filter: opacity(70%);
  transform: translateY(-2px);
  transition-duration: 0.2s;
}

.colorButtonRow{
  height: 80px;
  width: 100%;
}

.button{
  display: inline-block;
  border-radius: 8px;
  border: 0px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
  height: 40px;
  width: 170px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.2s;
}

.button:hover{
  transform: translateY(-2px);
}

.whiteButton{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #EEEEEE;
}

#startButton{
  margin-left: auto;
  margin-right: auto;
}

#welcomeLogo{
  margin-top: 150px;
  margin-bottom: 30px;
  display: inline-block;
  width: 60vw;
  height: 200px;
  object-fit: contain;
}

.textInput{
  display: inline-block;
  border-radius: 4px;
  border: 3px solid #eeeeee;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.05);
  height: 40px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  background-color: transparent;
  color: #eeeeee;
  padding-left: 15px;
  padding-right: 15px;
}

#currentObstacle{
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

#currentObstacleDescription{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

@-webkit-keyframes Welcome {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Welcome {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes Welcome {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Welcome {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
